:host {
  box-shadow: 0 0 10px 0 #ccc;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.bg-orange-circle {
  display: flex;
  justify-content: center;
  background-color: #ff5d00;
  color: #fff;
  border-radius: 2000px;
  width: 35px;
  height: 35px;
}

.icon-container {
  display: flex;
}
