:host {
  box-shadow: 0 0 10px 0 #ccc;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.bg-orange-circle {
  display: flex;
  justify-content: center;
  background-color: #ff5d00;
  color: #fff;
  border-radius: 2000px;
  width: 35px;
  height: 35px;
}

.icon-container {
  display: flex;
}

.zero-elem {
  height: 0;
  width: 0;
}

.bubble-cart-counter {
  background: black;
  position: relative;
  top: -40px;
  right: -20px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  color: white;
}
