<div class="container-md cart-container">
  <div class="title-container pt-4 text-center"><h1>Indkøbskurv</h1></div>
  <div class="products-container w-100 fs-6 pb-2">
    <ng-container *ngIf="cartProducts?.length != 0; else noProductsInCart">
      <div
        *ngFor="let product of cartProducts; let i = index"
        class="product px-3 py-1"
      >
        <span>
          {{ product.name }}
          <i><a (click)="removeProduct(i)">(Fjern)</a></i></span
        >
        <span>Kr. {{ product.price | number : ".2" }} </span>
      </div>
    </ng-container>
    <ng-template #noProductsInCart>
      <div
        class="product px-3 py-5 justify-content-center flex-column text-center"
      >
        <h6>Ingen produkter i din kurv lige nu...</h6>
        <button class="btn btn-orange mt-3" routerLink="/products">
          Find noget til kurven
        </button>
      </div>
    </ng-template>
  </div>
  <div class="total-container px-3 fw-bold fs-6 pt-2" *ngIf="totalPrice">
    <span>Total</span> <span>Kr. {{ totalPrice | number : ".2" }} </span>
  </div>

  <div class="checkout-container pt-5" *ngIf="cartProducts?.length != 0">
    <a routerLink="/checkout"><button class="btn buy-btn">Bestil</button></a>
  </div>
</div>
