/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400&display=swap");

html {
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
}

undefined {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

h1 {
  color: #ff5d00;
  text-shadow: 1px 1px 0 #6b2700;
}

.buy-btn {
  background-color: #ff5d00;
  border-radius: 0;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  transform: skew(-10deg);
}

.btn-orange {
  color: white;
  background-color: #ff5d00;
  border-radius: 0;
  transform: skew(-10deg);
}
