<div class="container-fluid home-page-container">
  <div class="title">
    <img
      src="assets/images/Skodfest22Design.png"
      width="75"
      alt="Skodfest logo"
    />
    <br />
    <h1 class="fs-1">SKODFEST 2023</h1>
  </div>
  <div class="instagram">
    <div id="instaCarousel" class="carousel slide">
      <div class="carousel-inner">
        <ng-container>
          <div
            *ngFor="let image of images; let idx = index"
            class="carousel-item {{ idx == 0 ? 'active' : '' }}"
          >
            <img
              src="{{ image.url }}"
              class="d-block w-100"
              alt=" {{ image.desc }} "
            />
          </div>
        </ng-container>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#instaCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#instaCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="call-to-action">
    <p>
      Torsdag den 13. til søndag den 16. Juli løber Skodfest 2023 af stablen!
      Skal du med?
    </p>
    <button type="button" class="btn btn-lg buy-btn mb-3" routerLink="/ticket">
      KØB BILLET
    </button>
    <a
      target="_blank"
      href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20230713T040000Z%2F20230715T220000Z&details=Skodfest%2C%20Danmarks%20m%C3%A5ske%20mest%20skod%20festival%21&location=Birkes%C3%B8vej%2C%207850%20Stoholm%20J&text=Skodfest%202023"
    >
      <b>📅</b> Føj til Google Calendar</a
    >
  </div>
</div>
