<div class="ticket-container">
  <div class="title-container">
    <h1>Køb din #skodfest billet her</h1>
    <p>
      <span>
        Du skal bruge en billet for at deltage i Skodfest, billetternes pris er
        ikke sat efter at lave overskud, men for at dække omkostningerne af
        arrangementet.
      </span>
    </p>
  </div>
  <div class="ticket-cards-container">
    <ng-container *ngFor="let product of products">
      <div class="card text-center mb-3" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p>
            <i>{{ product.price | number : "0.2" }}</i>
          </p>
          <a (click)="addTicketToCart(product)" class="btn buy-btn"
            >KØB {{ product.name | uppercase }}</a
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>
